<!-- footer section started -->
<footer class="bg-footer">
    <div class="container">
    <div class="row pt-5 pb-5 pb-md-4 pb-lg-5">
        <div class="col-md-12 pb-5 text-center">
        <img src="{{ SITEURL }}/theme/images/logo_2024.png" class="img-fluid" >
        </div>
        <div class="col-lg-2 col-md-12 text-center text-lg-start" >
        <h3 class="footer-title">Connect Us On</h3>
        <ul class="social list-group list-group-horizontal justify-content-center justify-content-lg-start">
            <li class="list-group-item ">
            <a href="https://www.linkedin.com/company/pyconindia/"><img src="{{ SITEURL }}/theme/images/social1.png" alt="" /></a>
            </li>
            <li class="list-group-item">
            <a href="https://www.facebook.com/PyConIndia/"><img src="{{ SITEURL }}/theme/images/social2.png" alt="" /></a>
            </li>
            <li class="list-group-item">
            <a href="https://twitter.com/pyconindia"><img src="{{ SITEURL }}/theme/images/social3.png" alt="" /></a>
            </li>
            <li class="list-group-item">
            <a href="https://www.instagram.com/inpycon/"><img src="{{ SITEURL }}/theme/images/social4.png" alt="" /></a>
            </li>
            <li class="list-group-item">
            <a href="https://pyconindia.zulipchat.com/"><img src="{{ SITEURL }}/theme/images/social5.png" alt="" /></a>
            </li>
            <li class="list-group-item">
            <a href="mailto:contact@in.pycon.org"><img src="{{ SITEURL }}/theme/images/social6.png" alt="" /></a>
            </li>
        </ul>
        </div>
        <div class="col-lg col-md-6 text-center text-md-start text-lg-center pt-lg-0 pt-4 pt-md-5" >
        <h3 class="footer-title copy">Copyright @ 2024 PyCon India</h3>
        </div>
        <div class="col-lg-2 col-md-6 text-center text-md-end text-lg-start pt-lg-0 pt-md-5 pt-3 designed" >
        <h3 class="footer-title">Design By</h3>
        <img src="{{ SITEURL }}/theme/images/webchirpy.png" class="img-fluid">
        </div>
    </div>
    </div>
</footer>
<!-- footer section ended -->
