<!-- footer section started -->
<section class="marquee-bg position-relative train">
    <div class="trainbg-rt">
        <div class="bg-move-rt"></div>
    </div>
</section>

<section class="footer-top"></section>
<section class="footer position-relative">
    <div class="container pt-5">
        <div class="row align-items-center text-center text-md pt-5">
            <div class="col-md-3 contact mb-5 mb-md-0 z-ind">
                <p class="text-white">Contact us on</p>
                <ul class="justify-content-center justify-content-md-start">
                    <li>
                        <a
                            href="https://in.linkedin.com/company/pyconindia"
                            title="Linkedin"
                            target="_blank"
                            ><i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.facebook.com/PyConIndia/"
                            title="Facebook"
                            target="_blank"
                            ><i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://twitter.com/pyconindia"
                            title="Twitter"
                            target="_blank"
                            ><i class="fa-brands fa-x-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.instagram.com/inpycon/"
                            title="Instagram"
                            target="_blank"
                            ><i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 text-center pb-5">
                <img
                    src="{{ SITEURL }}/theme/images/Mask Group 12.svg"
                    alt="pycon india 2024"
                    class="img-fluid w-75" />
            </div>
            <div class="col-md-3 webchirpy text-center z-ind">
                <p class="text-white">Design By</p>
                <a href="https://webchirpy.com/" target="_blank"
                    ><img
                        src="{{ SITEURL }}/theme/images/webchirpy.png"
                        alt="webchirpy"
                        class="img-fluid w-50"
                /></a>
            </div>

            <div class="col-md-12 text-center pt-5">
                <p class="text-white copyrights">
                    Copyrights @ 2024 Pycon India
                </p>
            </div>
        </div>
    </div>
</section>
<!-- footer section ended -->
