<!-- footer section started -->
<section class="footer position-relative d-flex">
  <div
    class="position-relative w-100 mt-5 pt-3 pb-5 px-3 px-md-5 pt-md-5 pb-md-4 custom-mx"
  >
    <!-- <div class="text-center text-md-start scale-xl">
      <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSdX2LEom11BbWDiLUiQp1rmeNX9l7J8bfszGidsRDoExy0D5A/viewform"
        class="btn-lime"
        target="_blank"
      >
        <span class="text-label">Become a Volunteer</span>
        <div class="arrow-circle">
          <img
            src="{{ SITEURL }}/theme/images/arrow-vector.svg"
            alt="Arrow"
            class="arrow-icon"
          />
        </div>
      </a>
    </div> -->
    <div class="text-center text-md-start scale-xl">
        <a
            href="https://docs.google.com/forms/d/e/1FAIpQLSdX2LEom11BbWDiLUiQp1rmeNX9l7J8bfszGidsRDoExy0D5A/viewform"
            class="volunteer-btn"
        >
            <span class="volunteer-text">
                Become a Volunteer
            </span>
            <div class="volunteer-icon">
                <img src="{{ SITEURL }}/theme/images/arrow-vector.svg" alt="Arrow" />
            </div>
        </a>
    </div>

    <div class="position-relative mt-5 pb-3 scale-xl">
      <div
        class="text-lime fs-5 fs-md-4 pb-2 text-center text-md-start fw-normal lh-sm lh-md-lg"
      >
        Connect Us on
      </div>

      <div
        class="d-flex flex-wrap justify-content-center justify-content-md-start align-items-center gap-2 mt-2 pointer-events-auto"
      >
        <a
          href="https://www.linkedin.com/company/pyconindia/posts/?feedView=all"
          target="_blank"
          aria-label="LinkedIn"
          class="p-1 d-flex align-items-center justify-content-center hover-scale transition text-decoration-none"
        >
          <i class="fab fa-linkedin fs-2 text-lime"></i>
        </a>

        <a
          href="https://www.facebook.com/PyConIndia/"
          target="_blank"
          title="Facebook"
          class="p-1 d-flex align-items-center justify-content-center hover-scale transition text-decoration-none"
        >
          <i class="fab fa-facebook fs-2 text-lime"></i>
        </a>

        <a
          href="https://x.com/pyconindia"
          target="_blank"
          title="X"
          class="p-1 d-flex align-items-center justify-content-center hover-scale transition text-decoration-none"
        >
          <i class="fab fa-x-twitter fs-2 text-lime"></i>
        </a>

        <a
          href="https://www.instagram.com/inpycon/"
          target="_blank"
          title="Instagram"
          class="p-1 d-flex align-items-center justify-content-center hover-scale transition text-decoration-none"
        >
          <i class="fab fa-instagram fs-2 text-lime"></i>
        </a>

        <a
          href="https://fosstodon.org/@pyconindia"
          target="_blank"
          title="Fosstodon"
          class="p-1 d-flex align-items-center justify-content-center hover-scale transition text-decoration-none"
        >
          <i class="fab fa-mastodon fs-2 text-lime"></i>
        </a>

        <a
          href="https://pyconindia.zulipchat.com/"
          target="_blank"
          title="ZulipChat"
          class="p-1 d-flex align-items-center justify-content-center hover-scale transition text-decoration-none"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1.8em"
            height="1.8em"
            viewBox="0 0 48 48"
          >
            <path
              fill="#d7ff7c"
              stroke="blue"
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M41.54 10.22a6.27 6.27 0 0 1-2.2 4.78L26.21 26.76c-.21.2-.61-.1-.41-.4l4.82-9.63c.1-.3 0-.6-.3-.6H11.67c-2.91 0-5.21-2.6-5.21-5.81s2.3-5.82 5.21-5.82h24.56c2.91-.1 5.31 2.51 5.31 5.72M11.67 43.5h24.66c2.91 0 5.21-2.61 5.21-5.81s-2.3-5.82-5.21-5.82H17.68a.37.37 0 0 1-.3-.6l4.82-9.62a.29.29 0 0 0-.41-.41L8.66 32.87a6.3 6.3 0 0 0-2.2 4.82c0 3.2 2.4 5.81 5.21 5.81"
            />
          </svg>
        </a>

        <a
          href="https://www.youtube.com/channel/UCVxPTRxEcoWjEFIMXHaGgHA"
          target="_blank"
          title="Youtube"
          class="p-1 d-flex align-items-center justify-content-center hover-scale transition text-decoration-none"
        >
          <i class="fab fa-youtube fs-2 text-lime"></i>
        </a>
      </div>
    </div>

    <!-- Copyright -->
    <div
      class="position-relative text-lime pt-2 scale-xl text-center text-md-start small"
    >
      <p>Copyright © 2025 PyCon India</p>
    </div>
  </div>
  <div
    class="position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center justify-content-md-end align-items-end pb-4 pe-md-5 pe-xl-6 pointer-events-none"
  >
    <img
      src="{{ SITEURL }}/theme/images/logo 2.png"
      alt="PYCON 2025"
      class="floating-logo w-150 w-md-300 w-lg-500 pb-72 pb-md-16"
    />
  </div>
</section>
<!-- footer section ended -->
