<!-- footer section started -->
<section class="footer position-relative">
    <div class="container pt-5">
        <div class="row align-items-center text-center text-md pt-5">
            <div class="col-md-3 contact mb-5 mb-md-0 z-ind mx-auto text-center">
                <p class="text-white">Contact us on</p>
                <ul class="justify-content-center justify-content-md-start">
                    <li>
                        <a
                            href="https://in.linkedin.com/company/pyconindia"
                            title="Linkedin"
                            target="_blank"
                            ><i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.facebook.com/PyConIndia/"
                            title="Facebook"
                            target="_blank"
                            ><i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://twitter.com/pyconindia"
                            title="Twitter"
                            target="_blank"
                            ><i class="fa-brands fa-x-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a
                            href="https://www.instagram.com/inpycon/"
                            title="Instagram"
                            target="_blank"
                            ><i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 text-center pt-5">
                <p class="text-white copyrights">
                    Copyrights @ 2025 Pycon India
                </p>
            </div>
        </div>
    </div>
</section>
<!-- footer section ended -->
