<!-- header section started -->
<header>
  <div class="container">
    <div
      class="w-full d-flex align-items-center justify-content-center"
      id="main-navbar"
    >
      <div class="col-lg-2 col-md-2 d-none d-lg-block">
        <a href="#" class="no-focus">
          <img
            src="{{ SITEURL }}/theme/images/logo 2.png"
            alt="PyCon India 2025"
            class="img-fluid"
          />
        </a>
      </div>
      <div class="col-lg-8 col-md-12 w-sm-100">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a
              class="navbar-brand d-block d-lg-none"
              href="https://in.pycon.org/2025/"
            >
              <img
                src="{{ SITEURL }}/theme/images/logo 2.png"
                alt="PyCon India 2025"
                class="img-fluid"
              />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav m-auto align-items-center mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="https://in.pycon.org/2025/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://in.pycon.org/2025/cfp/"
                    >Call for Proposal</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://in.pycon.org/2025/coc/"
                    >Code of Conduct</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="{{ SITEURL }}">Blog</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- header section ended -->
