<!-- header section started -->
<header>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-md-2 d-none d-lg-block">
                <a href="#" class="no-focus">
                    <img
                        src="{{ SITEURL }}/theme/images/Group 4790.svg"
                        alt="PyCon India 2024"
                        class="img-fluid" />
                </a>
            </div>
            <div class="col-lg-8 col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <a
                            class="navbar-brand d-block d-lg-none"
                            href="https://in.pycon.org/2024/">
                            <img
                                src="{{ SITEURL }}/theme/images/logo.png"
                                alt="PyCon India 2024"
                                class="img-fluid" />
                        </a>
                        <button
                            class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div
                            class="collapse navbar-collapse"
                            id="navbarSupportedContent">
                            <ul
                                class="navbar-nav m-auto align-items-center mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        href="https://in.pycon.org/2024/"
                                        >Home</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        href="https://in.pycon.org/2024/schedule/"
                                        >Schedule</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        href="https://in.pycon.org/2024/code-of-conduct/"
                                        >Code of Conduct</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link active"
                                        href="{{ SITEURL }}"
                                        >Blog</a
                                    >
                                </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link"
                                        href="https://in.pycon.org/2024/faq/"
                                        >FAQ</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-2 d-none d-lg-block">
                <div class="tickets-im">
                    <a
                        class="text-decoration-none no-focus"
                        href="https://in.pycon.org/2024/"
                        ><img
                            src="{{ SITEURL }}/theme/images/Group 5883.svg"
                            alt="Buy Ticket"
                            class="img-fluid tick-1" />
                        <img
                            src="{{ SITEURL }}/theme/images/Group 4907.svg"
                            alt="Buy Ticket"
                            class="img-fluid tick-2" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- header section ended -->
