<!DOCTYPE html>
<html lang="en">
  
  {% include "components/head.html" %}

  <body class="enabled-focus">
    {% include "components/header.html" %}

    <div>
      {% block body %}
      {% endblock %}
    </div>

    {%include "components/footer.html" %}

    <!-- bootstrap -->
    <script src="{{ SITEURL }}/theme/js/bootstrap.popper.min.js "></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap.bundle.min.js "></script>
    <script src="{{ SITEURL }}/theme/js/font-awesome.js" rel="stylesheet"></script>

    <!-- animation -->
    <script src="{{ SITEURL }}/theme/js/aos.js "></script>

    <script>
        AOS.init({
            once: 'true'
        });
    </script>

  </body>
</html>
