<!DOCTYPE html>
<!--[if IE 8]>

<html lang="en" class="ie8">

<![endif]-->
<!--[if IE 9]>

<html lang="en" class="ie9">

<![endif]-->
<!--[if !IE]>
<!-->
<html lang="en">
<!--
<![endif]-->

  <head>
    <title>
      {% block pagetitle %}PyCon India 2016 in Delhi from September 23rd to 25th{% endblock %}
    </title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="PyCon India">
    <link rel="shortcut icon" href="favicon.png">
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <!-- Global CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Site CSS -->
    <link id="theme-style" rel="stylesheet" href="/blog/theme/css/styles.css">
    <link rel="stylesheet" href="/blog/theme/css/animate.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
      </script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
      </script>
    <![endif]-->
  </head>
  <body data-spy="scroll">
    <header id="header" class="header">
      <div class="container">
        <h1 class="logo pull-left">
      <a class="scrollto" href="https://in.pycon.org/2015/#home">
        <span class="logo-title">
        <img src="/blog/theme/images/logo_sm.png" height="50" width="190">
        </span>
      </a>
      </h1>
        <!--//logo-->
        <nav id="main-nav" class="main-nav navbar-right" role="navigation">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">
          Toggle navigation
        </span>
              <span class="icon-bar">
        </span>
              <span class="icon-bar">
        </span>
              <span class="icon-bar">
        </span>
            </button>
            <!--//nav-toggle-->
          </div>
          <!--//navbar-header-->
          <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <a class="scrollto" href="https://in.pycon.org/2015/#home">
          Home
          </a>
              </li>
              <li class="nav-item">
                <a class="scrollto" href="https://in.pycon.org/2015/#speakers">
          Speakers
          </a>
              </li>
              <!-- <li class="nav-item">
        <a class="scrollto" href="#schedule">
        Schedule
        </a> -->

              <li class="nav-item">
                <a class="scrollto" href="https://in.pycon.org/2015/#venue">
          Venue
          </a>
              </li>
              <li class="nav-item">
                <a class="scrollto" href="https://in.pycon.org/2015/#sponsors">
          Sponsors
          </a>
              </li>
              <li class="nav-item active">
                <a class="scrollto" href="#">
          Blog
          </a>
              </li>
              <li class="nav-item">
                <a href="https://in.pycon.org/2015/sponsorship.html">
          Sponsorship
          </a>
              </li>

              <li class="nav-item">
                <a href="https://in.pycon.org/2015/faq.html">FAQ</a>
              </li>
              <li class="nav-item">
                <a href="https://in.pycon.org/2015/codeofconduct.html">Code of Conduct</a>
              </li>
            </ul>
            <!--//nav-->
          </div>
          <!--//navabr-collapse-->
        </nav>
        <!--//main-nav-->
      </div>
      <!--//container-->
    </header>

    <section id="blog" class="blog section offset-header">
      <div class="container">
        {% block body %}
        {% endblock %}
      </div>
    </section>

    <div class="footertop">
    </div>

    <footer class="footer">
      <div class="container text-center">
        <img src="/blog/theme/images/footerlogo.png" height="150" width="150">
        <p> Copyright © 2015 <a href="https://pssi.org.in" target="_blank">Python Software Society of India.</a> </p>
      </div>
      <!--//container-->
    </footer>
  </body>
</html>
