<footer class="bg-footer">
    <div class="container-fluid">
        <div class="row ml-space">
            <div class="col-xl-4  col-md-3 col-sm-12 footerlogo p-0 text-center text-md-start">
                <!-- <img src="images/mainlogo1.png" class="img-fluid d-none d-md-block" alt="" title="" style="width:250px;"> -->
                <img src="{{ SITEURL }}/theme/images/footer-new-logo.png" class="img-fluid" alt="" title="">
            </div>
            <div class="col-xl-2  col-md-3 col-6 ml-top ps-lg-3">
                <h4 class="text-white footer-head mb-md-4">Follow Us on</h4>
                <ul class="list-group list-group-horizontal bg-yellow-hover">
                    <li class="list-group-item pe-0 pe-md ps-0"><a href="https://www.facebook.com/PyConIndia/">
                            <!-- <img src="images/fb.png" class="img-fluid" alt=""
                                title="facebook"> -->
                            <i class="fa fa-facebook text-white" title="facebook"></i>
                        </a>
                    </li>
                    <li class="list-group-item pe-0 pe-md"><a href="https://www.instagram.com/__pyconindia__/">
                            <!-- <img src="images/insta.png" class="img-fluid" alt=""
                                title="instagram"> -->
                            <i class="fa fa-instagram text-white" title="instagram"></i>
                        </a></li>
                    <li class="list-group-item pe-0 pe-md"><a href="https://twitter.com/pyconindia/">
                            <!-- <img src="images/twitter.png" class="img-fluid" alt=""
                                title="twitter"> -->
                            <i class="fa fa-twitter text-white" title="twitter"></i>
                        </a></li>
                    <li class="list-group-item pe-0 pe-md"><a href="https://www.linkedin.com/company/pyconindia/">
                            <i class="fa fa-linkedin text-white" title="linkedin"></i>
                        </a></li>
                </ul>
                <!-- only for mobile -->
                <a href="" class="text-decoration-none d-block d-md-none mt-4">
                    <div class="yellow-white text-center mt-md-5">
                        Book ticket
                    </div>
                </a>
            </div>
            <div class="col-xl-2  col-md-3 col-6 ml-top">
                <h4 class="text-white footer-head mb-md-2">Quick Links</h4>
                <ul class="list-group quick-hover">
                    <li class="list-group-item ps-0"><a href="https://in.pycon.org/2021/coc/"
                            class="text-decoration-none text-white fw-bold">CoC</a></li>
                    <li class="list-group-item ps-0"><a href="https://in.pycon.org/2021/reporting/"
                            class="text-decoration-none text-white fw-bold">Reporting</a></li>
                    <li class="list-group-item ps-0"><a href="https://mail.python.org/mailman/listinfo/inpycon"
                            class="text-decoration-none text-white fw-bold">Mailing List</a></li>
                    <li class="list-group-item ps-0"><a href="https://pyconindia.zulipchat.com/"
                            class="text-decoration-none text-white fw-bold">Zulip</a></li>
                </ul>
            </div>
            <div class="col-xl-3  col-md-3 ml-top mt-md-3 d-none d-md-block">
                <a href="https://in.pycon.org/2021/#tickets" class="text-decoration-none">
                    <div class="yellow-white text-center mt-md-5">
                        Book ticket
                    </div>
                </a>
            </div>
            <div class="col-lg-12 text-center  pt-lg-2 pt-md-5 pt-5 pb-md-4">
                <p class="text-grey pt-4">copyright © 2021 PyCon India</p>
            </div>
        </div>
    </div>
</footer>
