<header class="bg-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md d-none d-md-block">
                <a href="https://in.pycon.org/2021/" class="logo"><img src="{{ SITEURL }}/theme/images/mainlogo1.png" class="img-fluid" alt="" title=""
                        style="width:100px;"></a>
            </div>

            <div class="col-lg-6 col-md-6 navbar navbar-expand-md navbar-light bg-light">

                <a class="navbar-brand logo-mob d-block d-md-none" href="https://in.pycon.org/2021/">
                    <img src="{{ SITEURL }}/theme/images/mainlogo1.png" class="img-fluid d-block d-md-none" alt="" title=""
                        style="width:250px;">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse text-md-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="https://in.pycon.org/2021/about/">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="https://in.pycon.org/2021/coc/">CoC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/">Blog</a>
                        </li>
                        <li class="nav-item d-block d-md-none">
                            <a href="https://in.pycon.org/share/PyConIndia2021ProgramGuide.pdf" class="text-decoration-none text-end">
                                <div class="violet-white text-center text-end">
                                    Get the Program Guide
                                </div>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-3 col-md-4 d-none d-md-block">
                <a href="https://in.pycon.org/share/PyConIndia2021ProgramGuide.pdf" class="text-decoration-none text-end">
                    <div class="violet-white text-center text-end">
                        Get the Program Guide
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid d-none d-md-block">
        <div class="row">
            <div class="yellowline"></div>
        </div>
    </div>
</header>
