.blog-content {
    color: #b7b7b7;
}

.blog-content h2{
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600;
    font-size: 30px!important;
    color: #fff!important;
}

.blog-content a {
    color: #fbc343;
    text-decoration: none!important;
}

/* Pagination */
.paginator {
    font-size: 13pt;
    background:#21292e;
    color: #b7b7b7;
    text-align: center;
    margin-bottom: 0;
}


  
.paginator i {
    color: #DD0E12;
}
