.blog-content {
    color: #b7b7b7;
}

.blog-content h2{
    font-family: "Montserrat", sans-serif !important;
    font-weight: 600;
    font-size: 30px!important;
    color: #fff!important;
}

.blog-content a {
    color: #fbc343;
    text-decoration: none!important;
}

.speaker-image {
    border-radius: 50%;
}