{% extends "base.html"%}

{% block pagetitle %}{{article.title}} - {{ super() }}{% endblock %}

{% block body %} 
<!-- blog section  -->
<section class="bd-banner">
  <div class="container">
      <div class="col-md-12 text-center">
          <h2 class="bd-title text-center pt-0 pt-md-5 pb-5" data-aos="fade-up" data-aos-duration="1000">{{article.title}}</h2>
          <div class="blog-details-page">
              <div class="bd-date">
                  <p class="publish">Published:</p>
                  <time datetime="{{article.date}}" itemprop="datePublished">
                    <p>
                       {{ article.date.strftime('%B %d, %Y') }}
                      </p>
                    </time>
              </div>
              <div class="bd-date">
                  <p class="publish">Author:</p>
                  <p>{{ article.author | default("PyCon India Content Team", true) }}</p>
              </div>

          </div>
      </div>
  </div>
</section>
<!-- blog-content -->
<section class="blog-details">
  {% if article.image %}
    <div class="bg-speakerbox bg-white p-3 p-lg-5 mb-3 mb-md-5 row align-items-center" data-aos="fade-right"  data-aos-duration="1000">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="row align-items-center">
            <img src="{{ SITEURL }}/{{ article.image }}" alt="" class="img-fluid" style="border-radius: 50%;"/>
        </div>
      </div>
      
  {% endif %}
  <div class="container">
    {{ article.content }}
  </div>
</section>

<!-- subscribe section started -->
<!-- <section class="bg-subscribe">
  <div class="container">
    <div class="row pt-md-5 pb-5 align-items-end d-flex">
      <div class="col-md-6">
        <h2 class="com-head-1 mb-0" data-aos="fade-right"  data-aos-duration="3000">Subscribe <br> For Conference Updates</h2>
      </div>
      <div class="col-md-6 pt-3 pt-md-0">
        <form class="d-flex">
          <input type="email" placeholder="Enter Your email " id="email" />
          <div class="arr-img"><img src="{{ SITEURL }}/theme/images/arrow-down.png"></div>
      </form>
      </div>
    </div>
  </div>
</section> -->
<!-- subscribe section ended -->
{% endblock %}
