{% extends "base.html"%}

{% block pagetitle %}{{article.title}} - {{ super() }}{% endblock %}

{% block body %}
<!-- blog section  -->
<section class="bd-banner bg-pycon-blue">
    <div class="container flex">
        <div class="card-outer">
            <!-- Background Div -->
            <div class="card-bg">
            </div>

            <!-- Main Card -->
            <div class="card-inner">
                <div class="blog-card-title text-center">
                    {{article.title}}
                    <hr class="blog-card-divider" />
                </div>
                <div class="blog-card-footer">
                    <p class="blog-card-author">{{ article.author | default("PyCon India Content Team", true) }}</p>
                    <p class="blog-card-date">{{ article.date.strftime('%B %d, %Y') }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog-content -->
<section class="blog-details">
    {% if article.image %}
    <div class="bg-white p-3 p-lg-5 mb-3 mb-md-5 row align-items-center">
        <div class="col-4">
            <div class="row align-items-center">
                <img src="{{ SITEURL }}/{{ article.image }}" alt="" class="img-fluid" style="border-radius: 50%;" />
            </div>
        </div>
    {% endif %}
    <div class="blog-main-content">
        {{ article.content }}
    </div>
</section>

<!-- subscribe section started -->
<!-- <section class="bg-subscribe">
  <div class="container">
    <div class="row pt-md-5 pb-5 align-items-end d-flex">
      <div class="col-md-6">
        <h2 class="com-head-1 mb-0" data-aos="fade-right"  data-aos-duration="3000">Subscribe <br> For Conference Updates</h2>
      </div>
      <div class="col-md-6 pt-3 pt-md-0">
        <form class="d-flex">
          <input type="email" placeholder="Enter Your email " id="email" />
          <div class="arr-img"><img src="{{ SITEURL }}/theme/images/arrow-down.png"></div>
      </form>
      </div>
    </div>
  </div>
</section> -->
<!-- subscribe section ended -->
{% endblock %}
