<!DOCTYPE html>
<html lang="en">
  
  {% include "components/head.html" %}

  <body class="enabled-focus">
    {% include "components/header.html" %}

    <div class="body-content">
      {% block body %}
      {% endblock %}
    </div>

    {%include "components/footer.html" %}

    <!-- bootstrap -->
    <script src="{{ SITEURL }}/theme/js/bootstrap.bundle.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/font-awesome.js" rel="stylesheet"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    <script src="{{ SITEURL }}/theme/js/aos.js" rel="stylesheet"></script>
    <script src="{{ SITEURL }}/theme/js/jquery.min.js" type="text/javascript"></script>
    <script src="{{ SITEURL }}/theme/js/owl.carousel.js" type="text/javascript"></script>
    <!-- animation -->
        <script>
        // Function to handle scroll event
        function handleScroll() {
          var ball = document.getElementById('ball');
          var scrollPercentage = (document.documentElement.scrollTop + document.body.scrollTop) / (document.documentElement.scrollHeight - document.documentElement.clientHeight);
          var newSize = 100 + scrollPercentage * 1000; // Adjust this value to control the maximum size of the ball
          if (ball !== null) {
            // Set the new size of the ball
            ball.style.width = newSize + 'px';
            ball.style.height = newSize + 'px';
          }
        }
        // Add scroll event listener
        window.addEventListener('scroll', handleScroll);
        </script>
        <script>
          document.addEventListener('DOMContentLoaded', function() {
            var navbarContent = document.getElementById("navbarSupportedContent");
            var togglerButton = document.getElementById("navbar-toggler-icon");
            var isToggling = false;
            
            // Listen for Bootstrap collapse events - these fire at the right time
            navbarContent.addEventListener('show.bs.collapse', function() {
              togglerButton.setAttribute("aria-expanded", "true");
              isToggling = true;
            });
            
            navbarContent.addEventListener('shown.bs.collapse', function() {
              isToggling = false;
            });
            
            navbarContent.addEventListener('hide.bs.collapse', function() {
              togglerButton.setAttribute("aria-expanded", "false");
              isToggling = true;
            });
            
            navbarContent.addEventListener('hidden.bs.collapse', function() {
              isToggling = false;
            });
          });
        </script>
    <script>
        AOS.init({
            once: 'true'
        });
    </script>
  </body>
</html>
