{% extends "base.html"%} {% block body %}
<!-- blog section  -->
 <div>
<section class="blog-banner pt-5 py-md-4">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left Column: Title -->
      <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
        <h2 class="title-2 heading-title">
          Our Blogs
        </h2>
      </div>

      <!-- Right Column: Floating Images -->
      <div class="col-md-6 text-center position-relative">
        <img
          src="{{ SITEURL }}/theme/images/plane.svg"
          alt="Plane"
          class="position-absolute floating-logo img-2"
        />
        <img
          src="{{ SITEURL }}/theme/images/planet.svg"
          alt="Planet"
          class="position-absolute floating-logo img-planet"
        />
        <img
          src="{{ SITEURL }}/theme/images/smallPlanet-1.svg"
          alt="Small Planet 1"
          class="position-absolute floating-logo img-small-1"
        />
        <img
          src="{{ SITEURL }}/theme/images/smallPlanet-2.svg"
          alt="Small Planet 2"
          class="position-absolute floating-logo img-small-2"
        />
      </div>
    </div>
  </div>
</section>

<!-- blog-list -->
<section class="blog-list">
  <div class="container">
    <div class="row flex-wrap ">
      {% for article in articles_page.object_list %}
      <div class="col-12 col-md-6 col-xl-4 mb-4 flex-wrap d-flex rounded-0">
        {# Added col-lg-3 for larger screens #}
        <div class="bg-box flex-wrap">
          <div class="bg-tit">
            <a style="text-decoration: none;" href="{{SITEURL}}/{{article.url}}">
              <div class="blog-title text-clip-2">{{article.title}}</div>
            </a>
            <div class="text-clip-3 pt-3 mb-0">{{article.summary}}</div>
          </div>
          <div
            class="bg-detail justify-content-between align-items-center flex-wrap"
          >
            {# Added flexbox classes #}
            <div class="bg-date d-flex align-items-center mb-2 mb-md-0">
              {# Added flexbox and margin #}
              <img src="{{ SITEURL }}/theme/images/calendar1.svg" alt="Calendar" class="fs-4 pe-1" style="width: 1em; height: 1em;" />
              {# Added img-small and custom style #}
              <time datetime="{{article.date}}" itemprop="datePublished">
                <p class="blog-date mb-0">
                  {{ article.date.strftime("%B %d, %Y")}}
                </p>
                {# Removed default margin #}
              </time>
            </div>
            <div class="author d-flex align-items-center">
              {# Added flexbox #}
              <img src="{{ SITEURL }}/theme/images/person1.svg" alt="Person" class="fs-4 pe-1 text-icon-slate" style="width: 1em; height: 1em;"></i>
              {# Added img-small and custom style #}
              <p class="mb-0">
                {# Removed default margin #} {{ article.author | default("PyCon
                India Content Team", true) }}
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if articles_page.has_other_pages() %} {% include
    "components/pagination.html" %} {% endif %}
  </div>
</section>
</div>
<!-- subscribe section ended -->

{% endblock %}
